@import "variables.less";
@import "mixins.less";

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.loading {
    line-height: 300px;
    text-align: center;
    min-height: 300px;
}

a {
  color: #00B7FF;
}