<header>
    <h2>Github Repositories</h2>
</header>
<section class="well">
  <h4>
    Authorize us to access your repositories.
  </h4>
  <div class="pagination-centered">
    <a data-bypass="bypass" href="/auth/github" class="btn btn-large">
      Authorize
    </a>
  </div>
  <p class="help-inline">
    We need your credentials so we can log hours for you with AtTask. If you leave remember my credentials checked, we will be able to automatically regenerate sessions whenever they age for you, this is recommended for best performance.
  </p>
  <p>I'm changing my templates!</p>
</section>