<div class="avatar">
    <%= '<img src="' + repo.owner.avatar_url + '" alt="' + repo.owner.login + '"/>' %>
</div>
<div class="info">
    <h3>
        <i class="icon-folder-open"></i>
        <a href="/show">
            <%= repo.full_name.slice(repo.full_name.indexOf('/') + 1) %>
        </a>
    </h3>
    <div class="stat">
        <div>
            <%=
                (repo.lastRan)
                    ? ('Last hook run:' + repo.lastRan)
                    : ('Last hook run: <em>Never</em>')
            %>
        </div>
        <div>
            <% if (repo.connectedTo) { %>
                <button class="btn btn-mini delete">&times;</button>
                <%= ' Connected to ' + repo.connectedTo.name %>

            <% } else { %>
                <%= ' Not Connected, will not run hooks' %>
            <% } %>
        </div>
    </div>
</div>